        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        *::after,
        *::before {
            box-sizing: border-box;
        }

        ul,
        ol {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        h2 {
            font-weight: normal;
        }

        .show {
            display: block;
        }
        .hide {
            display: none;
        }
        .header {
            background: #d43c33;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header {
             padding: 17px 10px; 
            /* padding: 4.10628vw 2.415vw; */
        }

        .logo>svg {
             width: 142px;
            height: 25px; 
            /* width: 34.2995169vw;
            height: 25px; */
            vertical-align: top;
        }

        .header>a {
            color: #fff;
             font-size: 15px;
               padding: 5px 10px;  
               line-height: 20px;  
            /* font-size: 3.6231884vw;
            padding: 1.20772946vw 2.41545893vw;
            line-height: 4.83091787vw; */
            position: relative;
            /* border-radius: 15px;   */
        }

        .header>a::after {
            content: '';
            width: 200%;
            height: 200%;
            position: absolute;
            border: 1px solid white;
            top: 0;
            left: 0;
            border-radius: 12.0773vw;
            transform: scale(0.5);
            transform-origin: 0 0;
        }

        .tabs {
            background: #fff;
        }

        .tabs>ul {
            display: flex;
            position: relative;
        }

        .tabs>ul>li {
            text-align: center;
            width: 33.33333333%;
            font-size: 15px;
            position: relative;
        }

        .tabs>ul>li>.wrap {
            display: inline-block;
            padding: 0 5px;
            position: relative;
            line-height: 40px;
            top: 1px;
        }

        .tabs>ul>li.active .wrap {
            color: #d43c33;
        }

        .tabs>ul>li.active .wrap::after {
            content: '';
            position: absolute;
            width: 200%;
            height: 4px;
            background: #d33a31;
            transform: scale(0.5);
            transform-origin: 0 0;
            bottom: -1px;
            left: 0;
        }

        .tab-contents {
            margin-top: 104px;
        }

        .tab-contents>ol>li {
            display: none
        }

        .tab-contents>ol>li.active {
            display: block;
        }

        .tab-contents>ol>li.page1 {
            padding-top: 20px;
        }

        .title {
            line-height: 20px;
            position: relative;
            font-size: 17px;
            padding-left: 9px;
            margin-bottom: 14px
        }

        .title::before {
            content: '';
            position: absolute;
            height: 160%;
            width: 4px;
            background: #d43c33;
            top: 1px;
            left: 0;
            transform: scale(0.5);
            transform-origin: 0 0;
        }

        .albums {
            padding-bottom: 24px;
        }

        .albums>ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .albums p {
            font-size: 13px;
         /* line-height: 15.6px; */
            line-height: 1.2;
            padding: 6px 2px 0 6px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }

        .albums>ul>li {
            width: calc(33.33333% - 2.14px);
            padding-bottom: 16px;
        }

        .albums>ul>li div {
            padding-top: 100%;
            position: relative;
        }

        .albums>ul>li div::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            height: 20px;
            width: 100%;
            background-image: linear-gradient(180deg, rgba(0, 0, 0, .2), transparent)
        }

        .albums>ul>li img {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        .earp {
            position: absolute;
            content: '';
            z-index: 3;
            background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyMiAyMCI+PGcgb3BhY2l0eT0iLjE1Ij48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiMwNDAwMDAiIGQ9Im0yMiAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvZz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9IiNmZmYiIGQ9Im0yMCAxNi43NzdjMCAxLjIzMy0xLjEyMSAyLjIzMy0yLjUwNiAyLjIzMy0xLjM4NCAwLTIuNTA2LTEtMi41MDYtMi4yMzN2LTIuNTUzYzAtMS4yMzQgMS4xMjItMi4yMzMgMi41MDYtMi4yMzMuMTc0IDAgLjM0My4wMTcuNTA2LjA0NnYtMS4zN2gtLjAzM2MuMDE3LS4yMi4wMzMtLjQ0MS4wMzMtLjY2NiAwLTQuNDE4LTMuNTgyLTgtOC04LTQuNDE4IDAtOCAzLjU4Mi04IDggMCAuMjI1LjAxNi40NDYuMDM0LjY2NmgtLjAzNHYxLjM3Yy4xNjMtLjAyOS4zMzMtLjA0Ni41MDUtLjA0NiAxLjM4NCAwIDIuNTA2Ljk5OSAyLjUwNiAyLjIzM3YyLjU1M2MwIDEuMjMzLTEuMTIyIDIuMjMzLTIuNTA2IDIuMjMzcy0yLjUwNS0uOTk5LTIuNTA1LTIuMjMzdi0yLjU1M2MwLS4yNTguMDU5LS41MDEuMTQ4LS43My0uMDg1LS4xNDgtLjE0OC0uMzEtLjE0OC0uNDkzdi0yLjY2N2MwLS4wMjMuMDEyLS4wNDMuMDEzLS4wNjctLjAwNC0uMDg4LS4wMTMtLjE3Ni0uMDEzLS4yNjYgMC01LjUyMyA0LjQ3Ny0xMCAxMC0xMCA1LjUyMyAwIDEwIDQuNDc3IDEwIDEwIDAgLjA5LS4wMDkuMTc4LS4wMTQuMjY2LjAwMi4wMjQuMDE0LjA0NC4wMTQuMDY3djJjMCAuMzA2LS4xNDUuNTY5LS4zNi43NTMuMjI0LjMzNC4zNi43Mi4zNiAxLjEzOHYyLjU1MiIvPjwvc3ZnPg==);
            color: #fff;
            top: 2px;
            right: 5px;
            padding-left: 13px;
            font-size: 12px;
            background-repeat: no-repeat;
            background-position: 0;
            background-size: 11px 10px;
        }

        .newSongs>ol {
            padding-left: 10px;
        }

        .newSongs>ol>li {
            position: relative;

        }
        .newSongs>ol>li a{
             display: flex; 
        }
        .newSongs>ol>li::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 300%;
            height: 1px;
            background: rgba(0, 0, 0, .1);
            transform: scale(0.333333);
            transform-origin: 0 0;
        }

         .songInfo { 
            padding: 6px 0;
            flex-grow: 1;
            font-size: 17px;
            width: 0;
        }

        .songInfo p {
            color: #333;
            line-height: 25px;
        }

        .songInfo span {
            padding-left: 4px;
            color: #888;
        }
        /* .newSongs .singer .icon {
            width: 12px;
            height: 8px;
        } */

         .singer .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }

         .singer {
            color: #888;
            font-size: 12px;
            white-space: nowrap;
            word-break: normal;
            line-height: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
        }

         .play {
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

         .play svg {
            width: 22px;
            height: 22px;
            fill: #AAA;
        }

        .footer {
            text-align: center;
            font-size: 12px;
            line-height: 16px;
            color: #888;
            margin-top: 4px;
            padding-bottom: 30.72px;
            background: transparent url("https://s3.music.126.net/m/s/img/recommand_bg_3x.png?f3a9aaa781c3bf3b543d129327d35fce") no-repeat center;
            background-size: cover;
        }

        .footer .bottomLogo {
            padding-top: 16.9%;
         /* padding-top: 12%; */
        }

        .footer .bottomLogo .logosvg {
            margin: 0 auto;
            width: 230px;
            height: 44px;
            vertical-align: bottom;
        }

        .footer .openApp {
            font-size: 16px;
            line-height: 38px;
            color: #d33a31;
            border: 1px solid #d33a31;
            border-radius: 38px;
            margin: 15px 37px 5px 37px;
        }

        .copyright {
            transform: scale(.75);
            font-size: 12px;
            color: #888;
        }

        .fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 10;
        }

        .tab-contents>ol {
            position: relative;
        }

        .tab-contents>ol::before {
            content: '';
            position: absolute;
            width: 300%;
            height: 300%;
            transform: scale(.333333);
            border: 0 solid rgba(0, 0, 0, .1);
            border-top-width: 1px;
            top: 0;
            left: 0;
            transform-origin: 0 0;
        }

        .line-scale-pulse-out {
            text-align: center;
        }

        .input-wrapper {
         /* line-height: 30px; */
            text-align: center;
            padding: 15px 10px;
        }

        .input-box {
            line-height: 30px;
            padding: 0 30px;
            background: #ebecec;
            border-radius: 30px;
        }

        .input-wrapper input {
            width: 100%;
            background: #ebecec;
           display: inline-block;  
            border: none;
            outline: transparent;
        }

        .input-box {
            position: relative;
        }

        .input-box .search {
            width: 13px;
            height: 13px;
            position: absolute;
            top: 50%;
            left: 8px;
            transform: translateY(-50%);
            fill: #cbcbcc;
        }

        .input-box .clear {
            width: 14px;
            height: 14px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 8px;
            fill: #bcbdbd;
        }
        .input-box input{
              -webkit-appearance: none;  
              cursor: auto;  
              text-align: start;  
              font-size: 14px;  
        }
         .input-box input:focus{
              color: #000;  
        } 

        .input-box .holder {
            position: absolute;
            top: 6px;
            left: 30px;
            font-size: 14px;
            line-height: 21px;
            color: #c9c9c9;
            background: transparent;
            pointer-events: none;
        }


        .hot {
            padding: 15px 10px 0 10px;
        }

        .hot h3 {
            font-size: 12px;
            line-height: 12px;
            color: #666;
            font-weight: 400;
        }

        .aList {
            margin: 10px 0px 7px 0px;
            font-size: 0;
        }

        .aList>ul>li {
            display: inline-block;
            line-height: 32px;
            font-size: 14px;
            margin-right: 8px;
            margin-bottom: 8px;
            padding: 0 14px;
            position: relative;
            /* z-index: 2; */
        }
        .aList>ul>li::after{
            content: '';
            position: absolute;
            border: 1px solid #ccc;
            width: 200%;
            height: 200%;
            transform: scale(.5);
            transform-origin: 0 0 ;
            left: 0;
            top: 0;
            border-radius: 64px;
        }

        .aList li a {
            color: #333;
        }
        .history>li{
            display: flex;
            align-items: center;
        }
        .icon-clock{
            width: 1.072em;
            height: 1.072em;
            margin: 0 8.93px 0 8.93px;
            fill: #cccdcd;
        }
        .close{
            display: flex;
            align-items: center;
            padding-right: 9.011px;
        }
        .clock{
            display: flex;
            align-items: center;
        }
        .icon-close {
       font-size: 26.4099px;
       width: 1em; height: 1em;
       fill: #aaa;
        }
        .searchHistoryContent{
            line-height: 45px;
            flex-grow: 1;
            position: relative;
            display: flex;
        }
        .searchHistoryContent span{
            flex-grow: 1;
            line-height: 21px;
            display: block;
            padding: 12px 0;
            color: #333;
            white-space: nowrap;
            word-break: normal;
            font-size: 14px;
        }
        .searchHistoryContent ::after{
            position: absolute;
            content: '';
            width: 300%;
            height: 300%;
            transform: scale(.3333333);
            transform-origin: 0 0 ;
            top: 0;
            left: 0;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1)
        }
        .upperline{
            position:relative;
        }
        .upperline::before{
            content: '';
            position: absolute;
            width: 300%;
            height: 300%;
            transform: scale(.333333);
            transform-origin: 0 0;
            top: 0;
            left: 0;
            border-top: 1px solid rgba(0, 0, 0,0.1)
        }

        .bottomline{
            position:relative;
        }
        .bottomline::before{
            content: '';
            position: absolute;
            width: 300%;
            height: 300%;
            transform: scale(.333333);
            transform-origin: 0 0;
            top: 0;
            left: 0;
            border-top: 1px solid rgba(0, 0, 0,0.1)
        }


        .inputValue{
            line-height: 50px;
            margin-left: 10px;
            padding-right: 10px;
            color: #507daf;
            font-size: 15px;
        }
        .searchResult{
            padding-right: 10px;
            line-height: 45px;
            flex-grow: 1;
            font-size: 15px;
            color: #333;
            font-family: Helvetica, sans-serif;
        }
        .searchTip li{
            padding-left: 10px;
        }
        .searchTip .icon{
            width: 15px;
            height: 15px;
            margin-right: 7px;
            fill: #b1b1b2;
        }

        .searchTip a{
            display: flex;
            align-items: center;
            flex-grow: 1;
            position: relative;
            cursor: pointer;
        }
        .page2{
            width: 100%;
            height: 100%;
        }

        .banner{
            padding-top:38.9%;
            background: url(//i.loli.net/2017/09/10/59b557c9421b7.jpg) no-repeat center;
            background-size: cover;
            overflow: hidden;
            position: relative;
        }
        .banner::after{
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, .2)
        }
        .bannerCover{
            padding-left: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 2;
        }
        .hotSpirit{
            background-image: url(//i.loli.net/2017/09/11/59b56231ed10e.png);
            width:142px;
            height: 67px;
            background-size: 166px 97px;
            background-position: -24px -30px;
        }
        .updateTime{
           margin-top: 10px;
           color: hsla(0, 0%, 100%, .8);
           font-size: 12px; 
            transform: scale(.91); 
            transform-origin: left top; 
        }
        .hotSongList>ol>li a{
            display: flex;
            padding-left: 10px;
            position: relative;
        }

        .rank{
            display: flex;
            align-items: center;
            font-size: 17px;
            width: 28px;
            color:#999;
        }
        .rank.hotSong{
            color: #df3436;

        }

        .getMoreSongs{
            height: 55px;
            line-height: 55px;
            text-align: center;
            color: #999;
            font-size: 14px;
        }
        .getMoreSongs span{
            padding-right: 14px;
            background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAyMiI+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBmaWxsPSJub25lIiBzdHJva2U9IiNjY2MiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJtMSAxbDEwIDEwLTEwIDEwIi8+PC9zdmc+) 100% no-repeat;
            background-size: 7px 12px;
        }
        .searchResultDetail a{
            display: flex;
            padding-left: 10px;
            position: relative;
        }